[submodule "games/2048"]
	path = games/2048
	url = https://github.com/DaoCloud/dao-2048.git
	branch = main
[submodule "games/dino-game"]
	path = games/dino-game
	url = https://github.com/wayou/t-rex-runner.git
	branch = gh-pages
[submodule "games/cookie-clicker"]
	path = games/cookie-clicker
	url = https://github.com/ozh/cookieclicker.git
	branch = gh-pages
[submodule "games/retrobowl"]
	path = games/retrobowl
	url = https://github.com/science246/retrobowl.git
	branch = main1
[submodule "games/slope"]
	path = games/slope
	url = https://github.com/MartinTintin3/Slope-Game.git
	branch = main
[submodule "games/tetris"]
	path = games/tetris
	url = https://github.com/cgolden15/tetris.git
[submodule "games/gba-emulator"]
	path = games/gba-emulator
	url = https://github.com/ayvacs/gba.js.org
	branch = main
[submodule "games/chess"]
	path = games/chess
	url = https://github.com/LabinatorSolutions/stockfish-chess-web-gui
	branch = master
[submodule "games/pong"]
	path = games/pong
	url = https://github.com/jakesgordon/javascript-pong.git
[submodule "games/happy-wheels"]
	path = games/happy-wheels
	url = https://github.com/MrSnailman/Happy-Wheels-Source-Code.git
[submodule "games/webgl-fluid-simulation"]
	path = games/webgl-fluid-simulation
	url = https://github.com/PavelDoGreat/WebGL-Fluid-Simulation.git
[submodule "games/minesweeper"]
	path = games/minesweeper
	url = https://github.com/Joeynoh/HTML5-Minesweeper.git
[submodule "games/conways-game-of-life"]
	path = games/conways-game-of-life
	url = https://github.com/copy/life.git
[submodule "games/math-number-game"]
	path = games/math-number-game
	url = https://github.com/MartinTintin3/MathNumberGame.git
