[submodule "games/dao-2048"]
	path = games/dao-2048
	url = https://github.com/DaoCloud/dao-2048
[submodule "games/cookieclicker"]
	path = games/cookieclicker
	url = https://github.com/ozh/cookieclicker
[submodule "games/Slope-Game"]
	path = games/Slope-Game
	url = https://github.com/MartinTintin3/Slope-Game
[submodule "games/retrobowl"]
	path = games/retrobowl
	url = https://github.com/science246/retrobowl.git
[submodule "games/tetris"]
	path = games/tetris
	url = https://github.com/cgolden15/tetris
