html, body {
	height: 100%;
}

body {
	text-align: center;
	background-color: black;
	margin: 0px;
}

@font-face {
	font-family: Zig;
	src: url(zig.ttf);
}

* {
	font-family: Zig;
}

ul {
	list-style-type: none;
}

.game {
	margin: 1em;
	padding: 1.5em;
	border: 1px solid black;
}

.game-link, .game-link:visited, #title, footer {
	text-decoration: none;
	color: hsl(150, 100%, 50%);
}

.game-link, .game-link:visited {
	font-size: 25px;
}

p, a, h1, h2, h3, h4, h5, h6 {
	margin-top: 2em;
	color: rgb(14, 168, 64);
}

footer {
	flex-shrink: 0;
	margin-bottom: 2em;
}

.game:hover {
	background-color: rgb(17, 17, 17);
}

#title {
	font-family: Consolas, 'Courier New', monospace;
}


.rainbow {
	animation: rainbow 2.5s linear;
	animation-iteration-count: infinite; 
}

@keyframes rainbow {
	100%,0%{
		color: rgb(255,0,0);
	}
	8%{
		color: rgb(255,127,0);
	}
	16%{
		color: rgb(255,255,0);
	}
	25%{
		color: rgb(127,255,0);
	}
	33%{
		color: rgb(0,255,0);
	}
	41%{
		color: rgb(0,255,127);
	}
	50%{
		color: rgb(0,255,255);
	}
	58%{
		color: rgb(0,127,255);
	}
	66%{
		color: rgb(0,0,255);
	}
	75%{
		color: rgb(127,0,255);
	}
	83%{
		color: rgb(255,0,255);
	}
	91%{
		color: rgb(255,0,127);
	}
}